@use '../util' as *;

html {
	font-size: 100%;
	box-sizing: border-box;
}

*, *::before, *::after {
	box-sizing: inherit;
}

body {
	margin: 0;
	padding: rem(36) 0;
	font-family: var(--font-inter);
	background-color: var(--bg-color);
	color: var(--text-color2);
}