@use '../util' as *;

// === Screen Reader Helper Classes ===
.visually-hidden {
	position: absolute;
	left: rem(-10000);
	top: auto;
	width: 1px;
	height: 1px;
	overflow: hidden;
}

// === Margin Helper Classes ===
.mb-24 {
	margin-bottom: rem(24);
}
.mb-48 {
	margin-bottom: rem(48);
}

// === Display Helper Classes ===
.d-block {
	display: block;
}
.d-none {
	display: none;
}

// === Flexbox Helper Classes ===
.d-flex {
	display: flex;
}
.items-start {
	align-items: start;
}
.items-center {
	align-items: center;
}
.items-end {
	align-items: end;
}
.justify-between {
	justify-content: space-between;
}
.flex-center {
	display: flex;
	align-items: center;
	justify-content: center;
}


// === Text Helper Classes ===
.uppercase {
	text-transform: uppercase;
}
.capitalize {
	text-transform: capitalize;
}